body {
    background-color: aqua;
}


/* navigation */

.navigation ul {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

.navigation .logo {
    float: left;
    margin-left: 30px;
}

.navigation li {
    /* text-decoration: none; */
    float: left;
    margin-left: 30px;
    margin-top: 16px;
}

@media screen and (max-width:639px) {
    .navigation .logo {
        width: 100%;
        text-align: center;
    }
    .logo>h1,
    .logo>h2 {
        font-size: 44px;
    }
}


/* box */

section.box {
    max-width: 1280px;
    margin: 0 auto;
}

h2.work,
h5.description {
    text-align: center;
    display: block;
}

.work-item {
    max-width: 31.33%;
    margin: 0 1%;
    float: left;
}

.responsive {
    width: 100%;
    height: auto;
}

.clearfix {
    clear: both;
}

@media screen and (max-width:639px) {
    h2.work {
        text-align: left;
        display: block;
        margin: 32px 0px 0px 1%
    }
    h5.description {
        text-align: left;
        display: block;
        margin: 0 0 1% 1%;
    }
    .work-item {
        max-width: 100%;
        margin: 0 1%;
        float: none;
    }
}