body {
    background: linear-gradient(to bottom, lightblue 0%, white 100%);
}


/* navigation */

.navigation ul {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

.navigation .logo {
    float: left;
    margin-left: 30px;
}

.navigation li {
    /* text-decoration: none; */
    float: left;
    margin-left: 30px;
    margin-top: 16px;
}

.navigation a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width:639px) {
    .navigation .logo {
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
    .logo>h1,
    .logo>h2 {
        font-size: 44px;
    }
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: rgb(93, 200, 235);
    box-shadow: 0px 15px 20px rgba(93, 200, 235, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


/* box */

section.box {
    max-width: 1280px;
    margin: 0 auto;
}

h2.work,
h5.description {
    text-align: center;
    display: block;
}

.work-item {
    max-width: 31.33%;
    margin: 0 1%;
    float: left;
    overflow: hidden;
}

.work-item img {
    transition: 0.7s;
}

.work-item img:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.responsive {
    width: 100%;
    height: auto;
}

.clearfix {
    clear: both;
}

@media screen and (max-width:639px) {
    h2.work {
        text-align: left;
        display: block;
        margin: 32px 0px 0px 1%
    }
    h5.description {
        text-align: left;
        display: block;
        margin: 0 0 1% 1%;
    }
    .work-item {
        max-width: 100%;
        margin: 0 1%;
        float: none;
    }
}